{% extends "layout.html" %}

{% block body %}
    Kampaaja: {{ kampaaja.name }} <br>
    <form method="POST" action="{{ url_for('aika', kampaaja_id=kampaaja.id) }}">
        <table>
            <tr>
                <td>
                    {{ form.pvm.label }}
                </td>
                <td>
                    {{ form.pvm }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.aika_h.label }}
                </td>
                <td>
                    {{ form.aika_h }}
                </td>
                <td>
                    {% for error in form.aika_h.errors %}
                    <li> {{ error }} </li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.aika_min.label }}
                </td>
                <td>
                    {{ form.aika_min }}
                </td>
                <td>
                    {% for error in form.aika_min.errors %}
                    <li> {{ error }} </li>
                    {% endfor %}
                </td>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Tee varaus"/>
                    </td>
                </tr>
            </tr>
        </table>        
    </form>
{% endblock %}