{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>First name </th>
            <th>Last name </th>
            <th>Phone number </th>
        </tr>

        {% for asiakas in asiakkaat %}
        <tr>
            <td>{{ asiakas.firstName }}</td>
            <td>{{ asiakas.lastName }}</td>
            {% if asiakas.phoneNumber %}
                <td>{{ asiakas.phoneNumber }}</td>
            {% else %}
            <td>
                <form method="POST" action="{{ url_for('asiakas_change_number', asiakas_id=asiakas.id) }}">
                    <input type="text" name="number"/>
                    <input type="submit" value="Lisää numero"/>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}