{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>First name &nbsp;</th>
            <th>Last name &nbsp;</th>
            <th>Phone number &nbsp;</th>
        </tr>

        {% for asiakas in asiakkaat %}
        <tr>
            <td><a href="{{ url_for('asiakas_show', asiakas_id=asiakas.id) }}"> {{ asiakas.firstName }}</a></td>
            <td>{{ asiakas.lastName }}</td>
            <td>{{ asiakas.phoneNumber }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}