{% extends "layout.html" %}

{% block body %}
<div class="list-group">

    <table>
        <tr>
            <th>First name &nbsp;</th>
            <th>Last name &nbsp;</th>
            <th>Phone number &nbsp;</th>
        </tr>

        {% for asiakas in asiakkaat %}
        <tr>
            <td><a class="list-group-item list-group-item-action list-group-item-info" href="{{ url_for('asiakas_show', asiakas_id=asiakas.id) }}"> {{ asiakas.firstName }}</a></td>
            <td><a class="list-group-item list-group-item-action list-group-item-info" href="{{ url_for('asiakas_show', asiakas_id=asiakas.id) }}"> {{ asiakas.lastName }}</a></td>
            <td><a class="list-group-item list-group-item-action list-group-item-info" href="{{ url_for('asiakas_show', asiakas_id=asiakas.id) }}"> {{ asiakas.phoneNumber }}</a></td>
        </tr>
        
        {% endfor %}
    </table>
</div>

</br>

{% if varaukset != None %}

<p class="bg-info">Asiakkaiden varaukset yhteensä: {{ varaukset }}</p>

{% else %}
    <p></p>
{% endif %}

{% endblock %}