{% extends "layout.html" %}

{% block body %}
    
    Olet tekemässä varausta kampaajalle: <br>
    <b>{{ kampaaja.name }}</b> <br>
    <br>

    {% if pvm != None %}

    <h6>Valitse sopiva aika</h6>

    <div class="list-group">
        <ul>
            {% for pvm in pvm %}
            <li>
                <a class="list-group-item list-group-item-action list-group-item-info" href="{{ url_for('varaus_sivu', aika_id = pvm.aika_id, kampaaja_id = kampaaja.id) }}">{{ pvm.pvm  }} &nbsp; {{ pvm.aika_h }}.{{ pvm.aika_min }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}

    <p>Ei vapaita aikoja</p>

    {% endif %}
{% endblock %}