{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
    <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="username?">
        <br>
        <input type="password" class="form-control" id="password" name="password" placeholder="password?">
        <br>
        <center>
        <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </div>    
    </form>

{% endblock %}    