{% extends "layout.html" %}

{% block body %}
    Kampaaja: {{ kampaaja.name }} <br>
    <form method="POST" action="{{ url_for('create_vapaa_aika', kampaaja_id=kampaaja.id) }}">
        <div class="form-group">
            <input type="date" class="form-control" id="pvm" name="pvm">
            <br>
            <input type="number" class="form-control" placeholder="Tunnit (0-23)" id="aika_h" name="aika_h">
            <br>
            <input type="number" class="form-control" placeholder="Minuutit (0-60)" id="aika_min" name="aika_min">
            <br>
            <center>
            <button type="submit" class="btn btn-success">Lisää!</button>
            </center>
          </div>       
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Ajan lisääminen epäonnistui" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Ajan lisääminen epäonnistui" in message[1]: %}
                <div class="alert alert-danger">
                <strong>Error: </strong> {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

{% endblock %}